@font-face {
  font-family: workSans;
  src: url("fonts/WorkSans-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: workSans, sans-serif;
}

header {
  background-color: #53A5B5;
}

header * {
  color: white;
}

header .nav {
  width: 100%;
  padding: 1rem 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .nav .logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

header .nav .right {
  display: flex;
}

header .nav .right .links ul {
  list-style: none;
  display: flex;
}

header .nav .right .links ul a {
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 0.3rem;
  text-transform: capitalize;
  font-weight: bold;
}

header .nav .right .links ul a:hover {
  text-decoration: underline;
}

header .nav .right .links ul a .fa-chevron-down {
  position: relative;
  top: 10%;
  left: 4%;
}

header .nav .right .social {
  margin-left: 0.5rem;
}

header .nav .right .social a {
  text-decoration: none;
  padding: 0.2rem;
}

header .title {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .title h1 {
  margin-bottom: 2rem;
}

main .articles {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

main .articles .col-3 {
  padding: 10px;
  width: 25%;
}

.card{
  box-shadow: 0 0 28px -5px #9e9e9e;
  max-height: 700px;
}

.card-header{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 400px;
}
.card-header img{
  float: right;
  width: 100%;
}
.card-body{
  padding: 1.5rem 3rem;
}
.card-body .meta{
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 0.6rem;
  color: #7A7977;
}
.card-body .meta div{
  margin-right: 0.6rem;
}

.card-body .title{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
.card-body .text{
  color: #7A7977;
  font-size: 0.9rem;
}
.card-footer{
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.card-footer .text{
  width: 70%;
  height: 100%;
  padding: 0.8rem 3rem 0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  color: #616161;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.card-footer .fa{
  background-color: #F5F5F5;
  color: #9e9e9e;
  letter-spacing: 4px;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  top: -13px;
  left: 13px;
}